$colors: (
  primary: #0071b8,
  primary-80: #338dc6,
  basic: #253858,
  gray-color: #4e556a,
  body: #646b7d,
  muted: #9095a2,
  muted-light: #b2bfc7,
  control: #dedfe3,
  control-light: #e9eaec,
  border: #f4f4f6,
  bg-dark: #f6f7f8,
  bg: #f8f9f9,
  white-color: #fff,
  danger-color: #f22a2e,
);
