@import './variables/typography';
@import './variables/colors';

@import url($font-url);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  margin: 0;
  font-family: 'Manrope', 'Roboto', 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: map-get($colors, 'basic');
}
