@import '../../assets/scss/variables/colors';

.footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: map-get($colors, 'white-color');
  border-top: 1px solid map-get($colors, 'border');

  &__content {
    max-width: 1360px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      display: flex;
      align-items: center;
      font-size: 13px;

      & p {
        color: map-get($colors, 'body');
        margin-right: 13px;
      }

      & a {
        color: map-get($colors, 'primary');
      }
    }
  }
}
