@import '../../../assets/scss/variables/colors';

.input {
  width: 310px;
  height: 56px;
  position: relative;
  margin-bottom: 25px;

  &__label {
    position: absolute;
    left: 22px;
    top: 28px;
    transform: translateY(-50%);
    color: map-get($colors, 'gray-color');
    transition: all 300ms ease-out;
  }

  &__input-field {
    width: 100%;
    height: 100%;
    background-color: map-get($colors, 'bg');
    border: 2px solid map-get($colors, 'border');
    outline: none;
    border-radius: 5px;
    padding: 27px 56px 14px 20px;
    font-weight: normal;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &:focus {
      border-color: map-get($colors, 'primary-60');
    }

    &:focus + .input__label,
    &:valid + .input__label {
      top: 11px;
      font-size: 10px;
      color: map-get($colors, 'muted');
    }
  }

  &__error-message {
    font-size: 10px;
    color: map-get($colors, 'danger');
    font-weight: 500;
    line-height: 18px;
  }

  &.input_invalid {
    .input__input-field {
      border-color: map-get($colors, 'danger-60');

      &:not([value='']) + .input__label {
        top: 11px;
        font-size: 10px;
        color: map-get($colors, 'muted');
      }
    }
  }
}
