@import '../../../../assets/scss/variables/colors';

.selected-option {
  min-height: 24px;
  padding: 3px 8px;
  background-color: map-get($colors, 'white-color');
  border: 1px solid map-get($colors, 'control-light');
  border-radius: 3px;
  display: inline-flex;
  align-items: center;

  &__text {
    font-size: 13px;
    color: map-get($colors, 'primary');
    font-weight: 600;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
}
